$primaryColor: #4B4B4B;//文字主色
$secondaryColor: #939393;//w文字次色
$bgColor: rgb(255, 255, 255);//背景色
$borderColor: #ccc;     //边框色
$primarySize: 32rpx;       //主字大小
$secondarySize: 24rpx;      //次字大小
$gap: 20rpx;                //边距
$imgLg: 230rpx;             //大图
$imgSm: 64rpx;              //小兔
$lightFontColor: #939393;
$lightBgColor: rgb(255, 255, 255);
$darkFontColor: #4B4B4B;
page {
    background-color: #EDEDED;
}